:host {
        
        form {
            width: 500px;
            
                
            input {
                margin-top: 10px;
                height: 27px;
                width: 400px;
            }

            button{
                margin-top: 20px;
                height: 30px;
                width: 350px;
            }
            
        }

    
}