:host {
    
    section{
        
        flex-direction: column;
        
        form {
            width: 500px;
            
                
            input {
                margin: 10px;
                border: 2px solid var(--primary);
                border-radius: 15px;
                height: 27px;
                width: 400px;
                box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
                padding-left: 15px;
                text-align: left;
                font-size: 15px;
                color: var(--black);
                
                
            }

            button{
                height: 30px;
                width: 350px;
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                    background: var(--primary-010);
                }
            }
            
        }

    }
}